<style> 
	*{
	box-sizing: border-box;
     }
	header {

		background-color: gray;
		height: 30px;
		border: 2px solid black;
		margin: 0px;
		padding:10px;
		font-weight: bold;
		font-size: 150%;
		margin-left: -10px;
		margin-right: -10px;
		margin-top: -8px;
		border-top: 4px solidblack; 
	}
	h1 {
		text-align: center;
	}
	section{
		background-color: gray;
		
		border: 2px solid black;
		font-size: 15px;
	}
	.sec1{
		height: 1000px;
	}
	 h5 {
	 	padding: 0px;
        font-weight: bold;
        text-align:center;
        font-size: 30px;
}
</style>